@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --header-height: 2.2rem;
    --right-panel-width: 20rem;
    --right-panel-navigation-width: 3rem;

    --current-scale: 0.5;
    --current-offset-x: 0px;
    --current-offset-y: 0px;

    --current-width: 1920px;
    --current-height: 1080px;

    --background-color: #1c232b;
}

body {
    margin: 0;
    font-family: "Roboto";
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #383f47;
    color: #fff;
    font-size: calc(var(--header-height) - 0.6em);
    padding: 0.1em 0.3em;
}

.body {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.rightPanel {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: var(--right-panel-width);
}

.leftPanel {
    display: inline-block;
    height: 100%;
    width: calc(100% - var(--right-panel-width));
    /* background-color: #1c232b; */
    --color-1: #36363a;
    --color-2: #282a2c;
    background-image:
        linear-gradient(45deg, var(--color-2) 25%, transparent 25%),
        linear-gradient(-45deg, var(--color-2) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--color-2) 75%),
        linear-gradient(-45deg, var(--color-1) 75%, var(--color-2) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.frame {
    display: inline-block;
    position: absolute;
    width: calc(var(--current-scale) * var(--current-width));
    height: calc(var(--current-scale) * var(--current-height));
    left: var(--current-offset-x);
    top: var(--current-offset-y);
    background-color: var(--background-color);
    box-shadow: 0 0 10px #000000;
}

.leftContainer {
    position: absolute;
    top: 0;
    right: var(--right-panel-navigation-width);
    width: calc(var(--right-panel-width) - var(--right-panel-navigation-width));
    height: calc(100vh - var(--header-height));
    background-color: #4f565e;
}

.rightNavigation {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--right-panel-navigation-width);
    height: calc(100vh - var(--header-height));
    background-color: #333b43;
    display: flex;
    flex-direction: column;
    z-index: 50;
}

.rightNavigationButton {
    height: var(--right-panel-navigation-width);
    border: none;
    outline: none;
    background-color: #434d55;
}

.rightNavigationButton:hover {
    height: var(--right-panel-navigation-width);
    border: none;
    outline: none;
    background-color: #4a5259;
    position: relative;
}

.rightNavigationButton.selected {
    background-color: #4f565e;
}

.rightNavigationButtonLabel {
    display: none;
    position: absolute;
    right: calc(100% + 1rem);
    top: 0.1rem;
    padding: 0.2rem 0.5rem;
    background-color: #37383c;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #ffffff;
}

.rightNavigationButtonLabel::after {
    --size: 0.5rem;
    content: '';
    position: absolute;
    top: calc(0.5em - var(--size) / 2);
    right: calc(var(--size) * -1);

    width: 0;
    height: 0;
    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;

    border-left: var(--size) solid #37383c;
}

.rightNavigationButton:hover .rightNavigationButtonLabel {
    display: inline-block;
}

.leftContainerTab {
    display: none;
    position: relative;
}

.leftContainerTab.selected {
    display: block;
}

.leftTabList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.leftTabListItem {
    background-color: #434d55;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.6rem;
    color: white;
}

.leftTabListItem:hover {
    background-color: #4a5259;
}

.leftTabListItem.selected {
    background-color: #4f565e;
}

.leftTabSubList {
    width: 100%;
    display: none;
    flex-direction: column;
}

.leftTabListItem.open .leftTabSubList {
    display: flex;
}

.leftTabSubListItem {
    background-color: #434d55;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.6rem;
    color: white;
}

.leftTabSubListItem:hover {
    background-color: #4a5259;
}

.leftTabSubListItem.selected {
    background-color: #4f565e;
}


.left {
    float: right;
}

.leftTabSubListItem span {
    font-size: 20px;
}

.object {
    position: absolute;
    left: calc(var(--offsetX) * var(--current-scale));
    top: calc(var(--offsetY) * var(--current-scale));
    width: calc(var(--width) * var(--current-scale));
    height: calc(var(--height) * var(--current-scale));

    --fill-color: var(--color, #fff);

    background-color: var(--fill-color);
}
.object.temp {
    opacity: 0.3;
}

.object.circle {
    border-radius: 50%;
}
.object[data-3-sides] {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.object[data-5-sides] {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.object[data-6-sides] {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.object[data-7-sides] {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.object[data-8-sides] {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.object[data-9-sides] {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.object[data-10-sides] {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.object.line {
    --line-width: 10px;

    width: calc(var(--size) * var(--current-scale));
    height: var(--line-width);
    transform-origin: 0% 0%;
    transform: rotate(var(--rotation));
}

.selectionBox {
    position: absolute;
    left: calc(var(--offsetX) * var(--current-scale));
    top: calc(var(--offsetY) * var(--current-scale));
    width: calc(var(--width) * var(--current-scale));
    height: calc(var(--height) * var(--current-scale));

    --outline-color: #36789f;
    --drag-region-color: #275a77;

    z-index: 5;

    border: 5px solid var(--outline-color);
}

.selectionBox:not(.shown) {
    display: none;
}

.selectionBoxDragRegion {
    width: 15px;
    height: 15px;
    
    background-color: var(--drag-region-color);
    border: 1px solid var(--outline-color);

    position: absolute;

    transform: translate(-50%, -50%);

    --outerEdge: 2px;
}

.selectionBoxDragRegion[data-drag-region="topleft"] {
    top: calc(var(--outerEdge) * -1);
    left: calc(var(--outerEdge) * -1);
}
.selectionBoxDragRegion[data-drag-region="top"] {
    top: calc(var(--outerEdge) * -1);
    left: 50%;
}
.selectionBoxDragRegion[data-drag-region="topright"] {
    top: calc(var(--outerEdge) * -1);
    left: calc(100% + var(--outerEdge));
}
.selectionBoxDragRegion[data-drag-region="left"] {
    top: 50%;
    left: calc(var(--outerEdge) * -1);
}
.selectionBoxDragRegion[data-drag-region="right"] {
    top: 50%;
    left: calc(100% + var(--outerEdge));
}
.selectionBoxDragRegion[data-drag-region="bottomleft"] {
    top: calc(100% + var(--outerEdge));
    left: calc(var(--outerEdge) * -1);
}
.selectionBoxDragRegion[data-drag-region="bottomright"] {
    top: calc(100% + var(--outerEdge));
    left: calc(100% + var(--outerEdge));
}
.selectionBoxDragRegion[data-drag-region="bottom"] {
    top: calc(100% + var(--outerEdge));
    left: 50%;
}

.keybindHints {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 5px 10px;
    font-size: 18px;
    display: none;
}
.keybindHints.shown {
    display: block;
}

.rightNavigationButtonIcon {
    fill: #fff;
}

.objectListItem {
    width: 100%;
    padding: 5px;
    background-color: #434d55;
    color: white;
    font-size: 24px;
    position: relative;
}
.objectListItem:hover {
    background-color: #4a5259;
}
.objectListItem.selected {
    background-color: #4f565e;
}
.objectListRemove {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
    color: #f00;
}
.objectListRemove:hover {
    color: #e66;
}

.outline {
    position: absolute;
    left: calc(var(--offsetX) * var(--current-scale));
    top: calc(var(--offsetY) * var(--current-scale));
    width: calc(var(--width) * var(--current-scale));
    height: calc(var(--height) * var(--current-scale));

    --outline-color: #36789f;

    z-index: 999;

    border: 5px solid var(--outline-color);
}

.outline:not(.shown) {
    display: none;
}

.right {
    height: 100%;
    float: right;
    position: relative;
}

.button {
    outline: none;
    border: none;
    background-color: #3569b8;
    color: white;
    padding: 5px 20px;
    margin: 0;
    height: 100%;
    font-size: 20px;
}
.button:hover {
    background-color: #537fc2;
}
.button:active {
    background-color: #4f86d8;
}

.exportPopup {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    width: 30rem;
    right: 10px;
    z-index: 2000;
    background-color: #1f2227;
    padding: 10px;
}
.exportPopup.shown {
    display: block;
}

.exportPopup .section {
    margin-bottom: 10px;
    border-top: 1px solid #434d55;
}

.exportPopup .section .title {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.exportPopup .section .select {
    background-color: #232830;
    padding: 1px 0;
}

.exportPopup .section .option {
    background-color: #303947;
    margin: 5px;
    padding: 0 5px;
}
.exportPopup .section .option:hover {
    background-color: #353f50;
    margin: 5px;
}
.exportPopup .section .option:active {
    background-color: #374358;
    margin: 5px;
}
.exportPopup .section .option.selected {
    background-color: #374358;
    margin: 5px;
}

.show {
    display: none;
}
.show.shown {
   display: block;
}

.centered {
    text-align: center;
}

.exportCanvas {
    --margin: 20px;

    position: absolute;
    top: var(--margin);
    left: var(--margin);
    max-width: calc(100% - var(--margin) * 2);
    max-height: calc(100% - var(--margin) * 2);
    height: auto;
    z-index: 2000;
}

.settings {
    margin: 5px;
}

.settings input[type="color"] {
    width: 30px;
    height: 20px;
}
.settings input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
.settings input[type="color"]::-webkit-color-swatch {
	border: none;
}

.settings .label {
    color: white;
}

.timeline {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--header-height));
    top: 0;
    left: 0;
    overflow: auto;
    color: white;

    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #1f2227;
}
::-webkit-scrollbar-thumb {
    background: #434d55;
}
::-webkit-scrollbar-thumb:hover {
    background: #4f565e;
}

.timeline-column {
    width: 30px;
    display: inline-block;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.timeline-column-line {
    width: 3px;
    height: var(--height);
    background-color: #5dadee;
    position: absolute;
    top: 0;
}

.timeline-column-line.selected {
    background-color: #9cd2ff;
}

.timeline-headers {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #4f565e;
    width: var(--width);
}
.timeline-column-header {
    width: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    color: #79c3ff;
    cursor: pointer;
}
.timeline-column-header-time {
    width: 50px;
}

.timeline-column-time {
    width: 50px;
}
.timeline-column-time {
    flex-wrap: wrap;
}

.timeline-column-dark-row {
    background-color: #434a50;
    z-index: 0;
    height: 18px;
    position: absolute;
    left: 0;
    width: var(--width);
}
.timeline-text {
    z-index: 100;
    isolation: isolate;
    margin-left: 5px;
}
.timeline-column-body {
    position: absolute;
    left: 0;
    width: 100%;
}

.timeline-marker {
    position: absolute;
    width: calc(100% + 10px);
    height: 3px;
    background-color: #5dadee88;
    z-index: 10;
    left: -10px;
    top: calc(var(--distance, 0px) - var(--scroll, 0px) + 30px);
    cursor: pointer;
}
.timeline-marker .drag {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #5dadee;
    z-index: 10;
    opacity: 1;
    left: -10px;
    top: -6px;
    border-radius: 50%;
}
.timeline-marker .drag:hover {
    background-color: #9cd2ff;
}

.timeline-column-line-marker {
    position: absolute;
    background-color: #ffa500;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: -3px;
    top: calc(var(--height) * 19px + 27px);
    cursor: pointer;
}
.timeline-column-line-marker:hover {
    background-color: #ffc65d;
}
.timeline-column-line-marker.selected {
    background-color: #ffdfa4;
}

.half {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.half-inner {
    flex-grow: 1;
}

.bottom-margin {
    margin-bottom: 10px;
}

.json-input {
    border: none;
    outline: none;
    background-color: #353f50;
    color: white;
    font-size: 24px;
}

.green {
    background-color: #3d835a;
}
.green:hover {
    background-color: #49a16e;
}

.play-button {
    width: 15px;
    height: 15px;
    fill: #2b9457;
    position: absolute;
    margin: 5px;
    top: 0;
}
.play-button:hover {
    fill: #3dbd7d;
}
.play-button.hidden {
    display: none;
}

.pause-button {
    width: 15px;
    height: 15px;
    fill: #b03d3d;
    position: absolute;
    margin: 5px;
    top: 0;
}
.pause-button:hover {
    fill: #d13d3d;
}
.pause-button.hidden {
    display: none;
}

.keyframe-editor-button {
    width: 20px;
    height: 20px;
    fill: #30a091;
    position: absolute;
    margin: 5px;
    top: 0;
    left: 20px;
}
.keyframe-editor-button:hover {
    fill: #4dc3b4;
}

.keyframe-editor {
    --margin: 5px;

    display: none;
    position: absolute;
    top: var(--margin);
    width: calc(100vw - var(--right-panel-width) - var(--margin) * 2);
    height: calc((100vh - var(--header-height) - var(--margin) * 3) / 2);
    left: var(--margin);
    background-color: #333b43f0;

    z-index: 10;
}
.keyframe-editor.open {
    display: inline-block;
}

.keyframe-selection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
}
.keyframe-option {
    color: white;
    background-color: #4f565e;
    margin: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.keyframe-option:hover {
    background-color: #687380;
}
.keyframe-option.selected {
    background-color: #5688b1;
}

.keyframe-editor-select-property {
    color: white;
    font-size: 24px;
    margin: 10px;
}

.keyframes {
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 39px);
}
.keyframe-editor-times {
    width: 100%;
    width: max-content;
    margin-left: 50px;
}
.keyframe-editor-time {
    width: 100px;
    display: inline-block;
    height: calc((100vh - var(--header-height) - var(--margin) * 3) / 2 - 50px);
    position: relative;
}
.keyframe-editor-time:last-of-type {
    background-color: #00000033;
}
.keyframe-editor-time-text {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.keyframe-editor-time-line {
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #566877;
}

.keyframe-editor-marker {
    position: absolute;
    background-color: #ffa500;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: calc(var(--distance) * 100px - 5px + 52px);
    bottom: calc(var(--height) * calc(100% - 50px));
    cursor: pointer;
}
.keyframe-editor-marker:hover {
    background-color: #ffc65d;
}

.keyframe-editor-line {
    position: absolute;
    left: calc(var(--x) * 100px + 52px);
    bottom: calc(var(--y) * calc(100% - 50px) + 3px);
    
    width: var(--length);
    height: 4px;
    transform-origin: 0% 0%;
    transform: rotate(var(--rotation));

    background-color: #ffa500;
}